<h1>Hits (<%= @hits.size %>)</h1>

<p>
  <b>Resque:</b>
  <%= @info %>
</p>

<% if @hits.size > 0 %>

  <form action='/hits' method='post'>
    <input type='submit' value='Delete all hits' />
  </form>

  <ul>
    <% @hits.each do |hit| %>
      <li>
        <%= hit.updated_at %>
        <%= hit.page %>
        <%= hit.checksum %>
      </li>
    <% end %>
  </ul>

<% end %>
