<!-- EVENT HTML for TRYBOOKING -->
  <style>
    .wheeler-centre-trybooking strong {
      font-family: 'Helvetica Neue',Helvetica,Verdana,sans-serif !important;
      font-size: 14px;
    }
  </style>
  <% venue = "" %>
  <% venue = link_to(
      event.venue.title,
      url_with_domain(event.venue.absolute_url),
      :style => "color: #009e8c;"
    ) if event.venue.present?
  %>
  <% date = format_date(event.fields[:start_date].value_in_time_zone, event.fields[:end_date].value_in_time_zone, format: "long_date") %>

  <div style="background: #fff; padding:2%; width: 96%; overflow:hidden;">
    <div style="width: 560px; margin-top: 10px;">
      <%= link_to(
        image_tag(
          "http://www.wheelercentre.com/logo_small_horizontal.png",
          :style => "border: none;width:264px;height:55px;",
          :width => "264",
          :height => "55",
          :alt => "Wheeler Centre logo"
        ),
        "http://www.wheelercentre.com",
        :style => "border: none;"
      ) %>
    </div>

    <div class="wheeler-centre-trybooking" style="width: 560px; margin: 20px 0 10px;max-width:100%;">
      <div style="border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 15px 0; margin-bottom: 30px;">
        <h1 style="font-family: 'Helvetica Neue',Helvetica,Verdana,sans-serif !important;font-weight: 500; font-size: 24px; line-height: 100%; margin: 0 0 10px 0;color:#009e8c;"><%= event.title %></h1>
        <h2 style="font-family: 'Helvetica Neue',Helvetica,Verdana,sans-serif !important; font-size: 13px; color: #666; margin: 0; line-height: 140%;">
          <% if venue %>
            <%= venue %>
            <br />
          <% end -%>
          <% if date %>
            <%= date %>
            <br />
          <% end -%>
          <strong style="font-family: 'Helvetica Neue',Helvetica,Verdana,sans-serif !important; font-size: 13px;">Tickets:</strong> <span style="font-family: 'Helvetica Neue',Helvetica,Verdana,sans-serif !important; font-size: 13px;font-weight: normal"><%= event.fields[:ticket_prices].value %></span>
        </h2>
      </div>

      <div style="font-family:'Helvetica Neue',Helvetica,Verdana,sans-serif !important;font-size: 14px; line-height: 130%;color:#333;">
        <p>
          Find out more about this event
          <%= link_to(
            "on our website",
            url_with_domain(event.absolute_url),
            style: "color:#009e8c;"
          ) %>.
      </div>

      <div style="font-family:'Helvetica Neue',Helvetica,Verdana,sans-serif !important; font-size: 12px; margin-top: 25px;color:#666;">
        <p>
          To keep updated with news and upcoming events at the Wheeler Centre,
          subscribe to our <%= link_to("email newsletter", "http://wheelercentre.com/subscribe", style: "color:#009e8c;") %>.
        </p>
      </div>
      <%= image_tag(url_with_domain(track_event_for_page(event, { format: "image", category: "booking", action: "external - view"})), alt: "", width: 1, height: 1) %>

    </div>
  </div>
