<div class="page__content">
  <div class="page__body page__body--session copy">
    <div class="page__title page__title--session">
      <h1 class="title">Change your password</h1>
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <div class="field-header">
          <%= f.label :password, "New password", class: "field-label" %>
        </div>
        <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "field-text-input" %>
      </div>

      <div class="field">
        <div class="field-header">
          <%= f.label :password_confirmation, "Confirm new password", class: "field-label" %>
        </div>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "field-text-input" %>
      </div>

      <div class="actions">
        <%= f.submit "Change my password", class: "button button--highlight" %>
      </div>
    <% end %>

    <div class="page__body--session-links">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>
